/*

omninotesweb main stylesheet
=============

Author:  Suraj Patil
Updated: January 13, 2014
Notes:	 omninotesweb

*/


/*--------------------------------------
Layout
-------------------------------------- */


.center{
  text-align:center;
}

.navbar-brand:hover{
  color:white;
}

.footer{
  height:30px;
  width:auto;
  text-align:center;

}
textarea {
  resize: vertical;
}

.floating-action-icon{
  position: fixed;
  bottom:40px;
  right:30px;
  z-index:101;
  width: 56px;
  height: 56px;
  font-size: 20px;
  border-radius: 35px;
  box-shadow:0 0 4px #111;
  padding-top:10px !important;
}

.notification{
  width: -moz-fit-content;
  position: fixed;
  right: 10px;
  max-width: 400px;
  padding: 12px;
  background-color: #FFF;
  box-shadow: 1px 0px 9px 0px rgba(252, 103, 22, 0.4);
  border: 1px solid #DEB3A8;
  border-radius: 10px;
  z-index: 1100;
  max-height: 90px;
  margin-top: 20px;
}

.notification-close{
  background-color: #2037B3;
  border-radius: 40px;
  border:none;
  color: #FFF;
  align-content: center;
  position: fixed;
  margin-top: -20px; 
}

/*--------------------------------------
Navbar
-------------------------------------- */

.mainHeader{
  background-color: #3f51b5;
  border-radius:0px;

}

.navbar-brand{
  margin-left: 25px;
  font-size:1.5em;
  color:white;

}

.btn-action{
  background-color: #3f51b5;
}

#icons{
  text-align:right;
  height: 50%;
  margin-top: 10px;
}

nav .glyphicon{
  color:white;
}

nav  .glyphicon:hover{
  color:black;
}

.sr-only{
  display:block;
  width:20px;
  height:3px;
  background-color: white;
  margin-bottom: 4px;
}

.hidden{
  display:none;
}

/*--------------------------------------
NotesFeed
-------------------------------------- */
.noteHeading {
    font-weight:900;
    font-size:17px;
    color:#666666;
    margin-bottom:0px;
    padding-bottom:5px;
}
hr{
    margin: 0;
    padding: 0;

}

.noteHeading a {
  font-weight:400;
  font-size:11px;
}

.noteContent {
    padding-top: 7px;
    font-size: 0.9em;
    display: none;
}

.toggle{
  cursor: pointer;
  margin-top:-30px;
  float:right;
}

.notefooter{
    color:#aaa;
    height: 20px;
}

/* These are the classes that are going to be applied: */
.column {
    float: left;
}

.note{
    display: block;
    margin: 4px;
    margin-bottom: 6px;
    padding: 15px;
    background-color: white;
    box-shadow:1px 1px 2px 1px #7D7470;
    border-radius:4px 4px 4px 4px;
    height: auto;

}

.note:hover{
    border-bottom: 2px solid black;
}
.menu a {
    text-decoration: none;
}
.menu li{
    margin-top: -10px;
    list-style: none;
    float: right;
    padding: 5px;
    height: 15px;
}

/*--------------------------------------
Navigation drawer
-------------------------------------- */

.list-group-item{
  border:none;
}

.sidebar-item h5{
  margin-left:15px;
  display: block;
}

.sidebar-item .glyphicon:hover{
  color:black;
}


.col-sm-2 a.list-group-item:hover,a.list-group-item:focus{
  text-decoration:none;
  background-color: transparent;

}

body{
  background-color: #f5f5f5;
  overflow-x:hidden;
  overflow-y:auto;
  margin-top:70px;
}

.nav-item{
  padding-left: 10px;
}

.col-sm-2{
  background-color: white;
}

.badge{
  background-color: #7D8EF0;
  margin-right:10px;
  float:right;
}

/* --------------------------------------
Global Styles
-------------------------------------- */
body{
  width:100%;
}

.main-content{
  color:black;
}

.highlight{
  background-color: #72CBFF;
}
/* --------------------------------------
Media Queries
-------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
  body{
    margin-top:105px;
  }

.timeline {
    overflow: hidden;
    width: 100%;
}

  #icons{
    text-align:center;
    padding:0;
  }

  .mainHeader h3{
    padding:0px;
    text-align:center;
  }


  .note-sm{
    height:150px;
  }

  .floating-action-icon{
    position: fixed;
    bottom:35px;
    right:20px;
    z-index:101;
    width: 50px;
    height: 50px;
    padding: 10px 10px;
    font-size: 24px;
    border-radius: 25px;
    text-align:center;
  }

  .modal-dialog{
    width:240px;
  }
}


/* Landscape phone to portrait tablet */
@media (max-width: 768px) and (min-width:481px) {
  #icons{
    text-align:center;
    padding:0;
  }

  body{
    margin-top:105px;
  }
.timeline {
    overflow: hidden;
    width: 100%;
}


  .mainHeader h3{
    padding:0px;
    text-align:center;
  }

  .note-lg{
    height:360px;
    /*change later*/
  }
  .modal-dialog{
    width:250px;
  }

}


/* Large desktop */
@media (max-width: 1400px) and (min-width:769px) {
    .timeline {
		overflow: hidden;
		width: 55%;
		margin-left:20%;
}

}

/*--------------------------------------
Sidebar
-------------------------------------- */
.sidebar-toggle{
  left:10px !important;
}
.sidebar-wrapper.sidebar-default.sidebar-open, .sidebar-wrapper.sidebar-default.sidebar-dragging{
  width:260px;
}

/*Modal dialog*/

.modal-footer {
  padding: 10px 15px 15px;
  margin:0;
  border:none;
}

.modal-body{
  padding: 20px 20px 10px 20px;  # reduces the default paddings
}

.modal{
  overflow: hidden;
}
